@font-face {
    font-family: "Lato Light";
    src: url("../font/Lato/Lato-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato Light';
}

header {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

/* *********************************** navegador movil *********************************** */

.nav-movil {
    width: 100%;
    height: 260px;
    background-color: #bdbdbd;
    position: absolute;
    transition : 0.6s;
    top: -300px;
}
.nav-movil-mostrar {
    top: 0;
    transition : 0.6;
}
    .nav-movil ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 40px 80px 40px 0px;
    }
        .nav-movil ul li {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }
            .span-nav-movil {
                color: #444242;
                font-weight: bold;
                font-size: 18px;
            }
            .span-nav-movil:hover {
                color: #1f1f1f;
            }
    .span-boton-nav-movil {
        position: absolute;
        top: 0;
        right: 0;
        color: #444e86;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: 20px 30px 20px 30px;
    }
    .span-boton-nav-movil:hover {
        color: #151b3b;
    }

/* *********************************** div presentacion inicial *********************************** */

.div-mi-presentacion-inicial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .span-mi-nombre {
        width: 100%;
        padding: 20px 0px 30px 30px;
    }
        .span-mi-nombre a {
            display: block;
            font-size: 22px;
            font-weight: 2000;
            color: #444e86;
        }
    .h1-titulo {
        color: #444e86;
        font-size: 34px;
        text-align: center;
    }

/* *********************************** main *********************************** */

main {
    width: 100%;
    padding: 40px 20px 40px 20px;
}
    article {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0px 40px 0px;
    }
        .h2-article-subtitulo {
            color: #10375c;
            font-size: 34px;
        }
        .span-article-nombre {
            width: 100%;
            color: #0d1336;
            font-size: 32px;
            padding: 20px 0px 20px 0px;
        }
        .p-frase-personal {
            width:100%;
            font-size: 26px;
            color: #444e86;
            padding: 10px 0px 20px 0px;
        }
        .span-icon-contacto {
            color: #363f68;
            font-size: 36px;
            padding: 10px 20px 0px 0px;
        }
        .span-icon-contacto:hover {
            color: #151a31;
        }
        .p-article-texto {
            width: 100%;
            padding: 30px 0px 30px 0px;
            font-size: 22px;
            text-align: justify;
        }

/* ***************************** article mi foto redes ***************************** */

        .div-img-mi-foto {
            width: 100%;
            max-width: 520px;
            margin: auto;
            border-radius: 2px;
            overflow: hidden;
        }
        .nav-escritorio {
            width: 100%;
            max-width: 300px;
            height: 300px;
            margin: auto;
        }
            .nav-escritorio ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .nav-escritorio ul li {
                width: 80%;
                padding: 10px;
                display: flex;
                cursor: pointer;
            }
                .nav-escritorio ul li a {
                    display: flex;
                }
                .nav-escritorio ul li span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                }
                .span-icon {
                    font-size: 20px;
                    color: #ad500d;
                }
                    .span-icon:hover ~ .span-nav-escritorio {
                        color: #883a03;
                    }
                .span-nav-escritorio {
                    font-weight: bold;
                    font-size: 18px;
                    text-align: left;
                    color: #d2691e;
                }
                    .span-nav-escritorio:hover {
                        color: #883a03;
                    }

/* ***************************** article sobre mi ***************************** */

.div-grupo-tres-imagenes {
    display: flex;
    padding: 20px 0px 20px 0px;
    width: 100%;
}
    .div-grupo-tres-imagenes div {
        width: 100%;
        padding: 4px;
        margin: auto;
    }
    
/* ***************************** portafolio ***************************** */



.div-proy-per-tecnologia-info {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .div-tecnologia-nombre-imagen-info {
        width: 100%;
        height: 400px;
        max-width: 500px;
        padding: 20px 10px 20px 10px;
        margin: 40px 10px 40px 10px;
        border: solid 1px #233223a2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
        .div-tecnologia-nombre-imagen-info h2 {
            color: #12314e;
        }
        .div-tecnologia-nombre-imagen-info p {
            padding: 20px 0px 20px 0px;
            font-size: 18px;
            text-align: center;
            color: #000000;
        }
        .div-tecnologia-nombre-imagen-info a {
            padding: 10px 25px 10px 25px;
            background-color: #2f3031;
            color: #e9e3e3;
        }
        .div-tecnologia-nombre-imagen-info div {
            width: 200px;
            height: 120px;
            padding: 5px;
        }
        .div-tecnologia-nombre-imagen-info a:hover {
            background-color: #2f3031c0;
            color: #ffffff;
        }

/* ***************************** cv ***************************** */

.h2-title-cv {
    width: 100%;
    font-size: 26px;
    padding-left: 22px;
    padding-top: 54px;
    color: #4f3461;
    position: absolute;
    z-index: -1;
}

.div-cv-section {
    width: 100%;
}

.h2-article-subtitle {
    width: 100%;
    font-size: 30px;
    padding: 6px 0px 6px 0px;
    color: rgba(43, 16, 61, 1);
}

.div-cv-section h3 {
    font-size: 24px;
    padding: 6px 0px 6px 0px;
    color: rgba(43, 16, 61, 0.95);
}

.span-information {
    display: block;
    font-size: 19px;
    padding: 10px 0px 10px 22px;
    /* color: rgba(43, 16, 61, 0.9); */
}

.span-course {
    display: block;
    font-size: 18px;
    padding-left: 60px;
}

.div-cv-experience-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
}

.span-date {
    display: block;
    font-size: 18px;
    padding: 10px 0px 10px 22px;
    /* color: rgba(43, 16, 61, 0.9); */
}
.p-cv {
    min-width: 400px;
    max-width: 600px;
    display: block;
    font-size: 19px;
    padding: 12px;
    padding-left: 42px;
    text-align: left;
    /* color: rgba(43, 16, 61, 0.95); */
}
.span-ico-book {
    padding-right: 16px;
    font-weight: bold;
}






/* *********************************************** media *********************************************** */

@media (min-width: 800px) {
    .nav-movil {
        display: none;
    }
        .span-boton-nav-movil {
            display: none;
        }
    article {
        width: 80%;
    }
}

@media (min-width: 1100px) {
    .div-proy-per-tecnologia-info {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .h1-mi-nombre {
        position: fixed
    }
    article {
        width: 70%;
    }
    .h2-title-cv {
        position: fixed;
    }
    .div-cv-experience-skills {
       padding-left: 60px;
    }
}

@media (min-width: 1600px) {

    .article-cv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .div-cv-experience-skills {
        width: 50%;
        display: flex;
        justify-content: end;
    }
}